{% extends "base.html" %} {% block titulo %} Usuarios {% endblock %}

{% block contenido_principal %}
<h2>Usuarios en la aplicacion</h2>

<!-- Lista de usuarios -->
<div class="table-responsive">
    <form class="form-horizontal" method="post" action="/admin/users/delete" >
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td id="email">{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td  id="checkBox"><input type="checkbox" name="checkboxUser" value="{{ user.email }}" /></td>
        </tr>
        {% endfor %}

        <button type="submit" id="btEliminar" class="btn btn-primary">Eliminar</button>
        </tbody>
    </table>
    </form>
</div>


{% endblock %}
