{% extends "base.html" %}
{% block titulo %} Agregar oferta {% endblock %}
{% block contenido_principal %}
<h2>Agregar canción</h2>
<form class="form-horizontal" method="post" action="/ofertas/agregar">
    <div class="form-group">
        <label class="control-label col-sm-2" for="titulo">Titulo:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="titulo"  name="titulo"
                   placeholder="Titulo de la oferta" required="false" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="detalles">Detalles:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="detalles" name="detalles"
                   placeholder="Detalles de la oferta" required="false" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="precio">Precio (€):</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="precio" name="precio" step="any"
                   placeholder="2.50" required="true" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="checkboxOutstanding">Destacar por 20€:</label>
        <div class="col-sm-10">
            <input type="checkbox" id = "checkboxOutstanding" name="checkboxOutstanding" value="{{ user.email }}" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</form>
{% endblock %}